<template>
    <div class="container-home">
        <h1 class="title">Welcome to the App of Websandbox,<br> {{ user.username }} !</h1>
        <div class="flex-items">
            <div class="text-home">You can edit your account and manage your projects by clicking this button :</div>
            <button @click="$router.push('/account')" class="btn">Edit</button>
        </div>
        <div class="flex-items">
            <div class="text-home">You can access your projects by clicking this button :</div>
            <button @click="$router.push('/projects')" class="btn">Projects</button>
        </div>
        <div class="flex-items" v-if="user.account_type === 'free'">
            <div class="text-home">You can upgrade your account to be able to have more than 5 projects and up to 15 users on each project by clicking this button :</div>
            <a :href="clientUrl + '/pricing'" class="btn">Upgrade</a>
        </div>
        <div class="flex-items" v-else>
            <div class="text-home">Your account is Premium. You can unsubscribe by clicking this button :</div>
            <a @click="unsubscribe" class="btn">Unsubscribe</a>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    data() {
        return {
            clientUrl: process.env.VUE_APP_CLIENT_URL,
        }
    },
    methods: {
        redirectToClient: function() {
            window.location.href = this.clientUrl;
        },
        unsubscribe() {
            fetch(process.env.VUE_APP_API_URL+'/stripe/subcription_cancel', {
                headers: {
                    'Content-Type': 'application/json'
                },
                method: 'POST',
                body: JSON.stringify({email: this.user.email})
            }).then(() => {
                this.checkToken(localStorage.getItem('user-token'))
            })
        },
    },
    computed: {
        ...mapGetters([
            'user'
        ])
    },
    created () {
      document.title = "WebSandBox | Home";
    }
}
</script>

<style scoped>
    .container-home {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        background-color: #F5F5F5;
        min-height: 100vh;
    }

    .text-home {
        font-size: 18px;
        font-weight: 800;
        color: var(--color-secondary-blue);
        width: 70%;
    }

    .title {
        margin-bottom: 50px;
    }

    .flex-items {
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        background-color: #FFFFFF;
        border: 1px solid #DCDCDC;
        border-radius: 6px;
        margin: 30px 0;
    }
</style>