<template>
  <div class="container">
    <button @click="openList" type="button" class="btn verticalButton">Users</button>
    <ListMembers @clickedOverlayModal="openList" :show-modal='showModal' :id='projectId' />
    <div class="nav">
      <div class="project-name">{{ currentProject.name }}</div>
        <ul>
            <li @click="onSelectedLanguage('html')" :class="language == 'html' ? 'active-language' : ''">HTML</li>
            <li @click="onSelectedLanguage('css')" :class="language == 'css' ? 'active-language' : ''">CSS</li>
            <li @click="onSelectedLanguage('js')" :class="language == 'js' ? 'active-language' : ''">JS</li>
            <li @click="onEvalJs">Run JS</li>
        </ul>
    </div>
    <div class="editor-view">
        <VueResizable
          :fit-parents="resizable.fit"
          :minWidth="resizable.minWidth"
          :maxWidth="resizable.maxWidth"
          :width="resizable.width"
          :heigth="resizable.heigth"
          :active="resizable.handlers"
          @mount="eHandler"
          @resize:move="eHandler"
          @resize:end="eHandler"
        >
          <MonacoHtmlEditor :key="key" :readOnly="readOnly" v-if="language == 'html' ? true : false" />
          <MonacoCssEditor :key="key" :readOnly="readOnly" v-if="language == 'css' ? true : false" />
          <MonacoJsEditor :key="key" :readOnly="readOnly" v-if="language == 'js' ? true : false" />
        </VueResizable>
        <div class="result">
            <div id="iframe" class="result-code" v-html="compiledContent"></div>
        </div>
    </div>
  </div>
</template>

<script>
import VueResizable from 'vue-resizable'
import MonacoHtmlEditor from '../components/LiveCode/MonacoHtmlEditor'
import MonacoCssEditor from '../components/LiveCode/MonacoCssEditor'
import MonacoJsEditor from '../components/LiveCode/MonacoJavascriptEditor'
import { mapActions, mapGetters } from 'vuex';
import ListMembers from "../components/ProjectMembers/ListMembers";

export default {
  components: { MonacoHtmlEditor, MonacoCssEditor, MonacoJsEditor, VueResizable, ListMembers },
  name: 'Project',
  data() {
    return {
      showModal: false,
      readOnly: false,
      projectId: this.$route.params.id,
      timeOutTime: 1000,
      timeout: '',
      key: 0,
        language: 'html',
        data: [],
        resizable: {
          fit: true,
          height: '100%',
          width: '100%',
          minWidth: 300,
          maxWidth: 1100,
          handlers: ["r"],
          maximize: true
      }
    }
  },
  watch: {
    html: function(html) {
      clearTimeout(this.timeout)
      this.timeout = setTimeout(() => {
        this.socket.emit('code-send-html', {
          id: this.currentProject.id,
          slug: this.projectId,
          html: html
        })
      }, this.timeOutTime)
    },
    css: function(css) {
      clearTimeout(this.timeout)
      this.timeout = setTimeout(() => {
        this.socket.emit('code-send-css', {
          id: this.currentProject.id,
          slug: this.projectId,
          css: css
        })
      }, this.timeOutTime)
    },
    js: function(js) {
      clearTimeout(this.timeout)
      this.timeout = setTimeout(() => {
        this.socket.emit('code-send-js', {
          id: this.currentProject.id,
          slug: this.projectId,
          html: js
        })
      }, this.timeOutTime)
    },
  },
  computed: {
    ...mapGetters([
        'html',
        'css',
        'js',
        'user',
        'socket',
        'currentProject'
    ]),
    compiledContent: function() {
        return `${this.html}<style>${this.css}</style>`;
    }
  },
  methods: {
    ...mapActions([
      'getProjectAndUser',
      'getUserProjects',
      'modifyHtml',
      'modifyCss',
      'modifyJs',
      'getCodeFromProject'
    ]),
    openList() {
      this.showModal = !this.showModal
    },
    onSelectedLanguage: function(language) {
      this.language = language
    },
    eHandler(data) {
      this.width = data.width;
      this.height = data.height;
      this.forceRerender()
    },
    forceRerender() {
      this.key++;
    },
    onEvalJs: function() {
      eval(this.js)
    },
  },
  async created() {
    await this.getProjectAndUser(this.$route.params.id)
    document.title = 'WebSandBox | ' + this.currentProject.name;
    this.currentProject.users.forEach(user => {
      if(user.id === this.user.id) {
        if(user.role[0].role === 'visitor') {
          this.readOnly = true
          this.forceRerender()
          return
        }
      }
    })

    this.getCodeFromProject(this.currentProject.id)
    this.socket.on('code-send-html-back', (data) => {
      this.modifyHtml(data)
    })
    this.socket.on('code-send-css-back', (data) => {
      this.modifyCss(data)
    })
    this.socket.on('code-send-js-back', (data) => {
      this.modifyJs(data)
    })
  },
}
</script>

<style scoped>
.verticalButton {
  background-color: #000550;
  color: white;
  display: inline-block;
  font-size: 14px;
  height: 30px;
  width: 120px;
  position: fixed;
  right: 0;
  top: -50px;
  text-align: center;
  text-decoration: none;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform-origin: bottom right;
  border-radius: 50px 5px 0px 0px;
  z-index: 999;
}

.container {
    height: 100%;
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
    background-color: #1E1E1E;
    border-bottom: 3px solid rgb(36, 36, 36);
    height: 70px;
}

.project-name {
  margin-left: 40px;
  font-weight: 800;
  text-transform: initial;
}

.nav:first-child {
    padding-left: 40px;
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.nav ul li {
    padding: 27px 20px;
    border-right: 3px solid rgb(36, 36, 36);
    height: 70px;
    vertical-align: middle;
    cursor: pointer;
}

.nav ul li.active-language {
    color: var(--color-primary-pink);
}

.nav ul li:first-child {
    border-left: 3px solid rgb(36, 36, 36);
}

.editor-view {
    position: relative;
    display: flex;
    height: calc(100vh - 70px);
    max-width: 100vw;
}

.result {
    position: relative;
    width: fit-content;
    max-width: 100%;
}

.result-code {
    display: block;
    color: black;
    height: 100%;
    text-align: left;
    word-break: break-word;
}
</style>