<template>
  <div>
    <Header />
    <router-view id="sub-background-img-nav-bar"/>
	<Footer />
  </div>
</template>

<script>
import Header from './components/Header'
import Footer from './components/Footer'
import store from './config/store'
import Vuex from 'vuex'

export default {
    name: 'App',
    store: store,
    components: {
        Header,
        Footer
    },
    methods: {
        ...Vuex.mapActions(['getUserFromToken'])
    },
    mounted() {
        this.getUserFromToken()
    }
}
</script>

<style>
:root {
	--color-primary-blue: #1E079B;
	--color-secondary-blue: #2539B0;
	--color-primary-pink: #EF2A82;
	--color-light: #FFFFFF;
}

#app {
	font-family: Roboto, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: var(--color-primary-blue);
	margin-top: 60px;
	display: flex;
	justify-content: center;
}

#sub-background-img-nav-bar {
	margin-top: -490px;
	display: flex;
	justify-content: center;
}

html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*,*::before,*::after {
  box-sizing: inherit;
}

.title {
	color: var(--color-primary-blue);
	font-weight: 700;
	font-family: Roboto;
}

.title-white {
	color: white;
	font-weight: 700;
	font-family: Roboto;
}

.text {
	color: var(--color-secondary-blue);
	font-weight: 500;
	font-family: Roboto;
}

.text-light {
	color: var(--color-light);
	font-weight: 500;
	font-family: Roboto;
}

.btn {
	padding: 10px 20px;
	color: white;
	background-color: var(--color-primary-pink);
	border-radius: 40px;
	font-size: 16px;
	font-weight: 500;
	font-family: Roboto;
	cursor: pointer;
	outline: none;
	border: none;
}
</style>
