<template>
    <MonacoEditor class="editor"
        language="javascript"
        theme="vs-dark"
        :value="js"
        :options="options"
        @change="onChange"
    />
</template>

<script>
import MonacoEditor from 'monaco-editor-vue';
import store from '../../config/store'
import { mapActions, mapGetters } from 'vuex'

export default {
    components: { MonacoEditor },
    props: ['readOnly'],
    store: store,
    data() {
        return {
            options: {
                autoIndent: "full",
                tabCompletion: "on",
                suggest: {
                    preview: true,
                    shareSuggestSelections: true,
                    showColors: true,
                    showConstants: true
                },
                inlineSuggest: true,
                readOnly: this.readOnly
            }
        }
    },
    methods: {
        ...mapActions([
            'modifyJs',
        ]),
        onChange(value) {
            this.modifyJs(value)
        },
    },
    computed: {
        ...mapGetters(['js'])
    }
}
</script>

<style scoped>
.monaco_editor_container {
    text-align: left;
}
</style>
