<template>
    <MonacoEditor class="editor"
        language="css"
        theme="vs-dark"
        :value="css"
        :options="options"
        @change="onChange"
    />
</template>

<script>
import MonacoEditor from 'monaco-editor-vue';
import store from '../../config/store'
import { mapActions, mapGetters } from 'vuex'

export default {
    components: { MonacoEditor },
    props: ['readOnly'],
    store: store,
    data() {
        return {
            options: {
                autoIndent: "full",
                tabCompletion: "on",
                readOnly: this.readOnly,
                suggest: {
                    preview: true,
                    shareSuggestSelections: true,
                    showColors: true,
                    showConstants: true
                },
            }
        }
    },
    methods: {
        ...mapActions([
            'modifyCss',
        ]),
        onChange(value) {
            this.modifyCss(value)
        },
    },
    computed: {
        ...mapGetters(['css'])
    }
}
</script>

<style scoped>
.monaco_editor_container {
    text-align: left;
}
</style>
