<template>
    <div class="container-sign-in-page">
        <div class="container-sign-in">
            <p class="title">Sign In</p>
            <FormulateForm v-model="formValues" @submit="handleSubmit">
                <FormulateInput type='email' name='email' label='Email' label-class="input-label"  validation="required|email" :error="isEmailFound ? null : 'This email doesn\'t exist'" />
                <FormulateInput type='password' name='password' label='Password' label-class="input-label" validation="required" :error="isPasswordCorrect ? null : 'Incorrect password'"/>
                <FormulateInput type='submit' input-class="btn-submit" label='Sign In' :error="unknowError ? 'An unknow error happened' : null"/>
            </FormulateForm>
        </div>
    </div>
</template>

<script>
import { checkLogin } from './service'
import store from '../config/store'
import Vuex from 'vuex'

export default {
    name: 'SignIn',
    store: store,
    data () {
        return {
            formValues: {},
            isEmailFound: true,
            isPasswordCorrect: true,
            unknowError: false
        }
    },
    methods: {
        ...Vuex.mapActions(['editUser']),
        handleSubmit() {
            checkLogin(this.formValues.email, this.formValues.password)
                .then(data => {
                    if('error' in data) {
                        switch (data.error) {
                        case 'email':
                            this.isPasswordCorrect = true
                            this.isEmailFound = false
                            break;
                        case 'password':
                            this.isEmailFound = true
                            this.isPasswordCorrect = false
                            break;
                        default:
                            this.unknowError = true
                        }
                    } else if(data.token != undefined) {  
                        this.editUser(data);
                        window.location = process.env.VUE_APP_APP_URL + '/?token=' + data.token
                    }
                })
        }
    },
    computed: {
        ...Vuex.mapGetters(['user']),
    }
}
</script>

<style scoped>
    .container-sign-in-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }

    .container-sign-in {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 35px;
        width: 600px;
        max-width: 100vw;
        padding: 3% 8%;
        margin: 40px 8px;
        box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.25);
    }

    .title {
        margin-bottom: 25px;
        font-size: 22px;
    }
</style>

<style>
    .input-label {
        color: var(--color-primary-blue);
        display: block;
        line-height: 1.5;
        font-size: .9em;
        font-weight: 400;
        margin-bottom: .1em;
    }

    .btn-submit {
        margin-top: 12px !important;
        padding: 10px 20px !important;
        color: white !important;
        background-color: var(--color-primary-pink) !important;
        border-radius: 40px !important;
        font-size: 16px !important;
        font-weight: 500 !important;
        font-family: Roboto !important;
        cursor: pointer !important;
        outline: none !important;
        border: none !important;
    }
</style>