<template>
  <div class="add-user">
    <div class="btn" @click="openModal">
      +
    </div>
    <modal name="adduser"
      classes='modal'
      :width="450"
      :height="370"
      :adaptive="true
    ">
      <div v-if="rightsToAdd">
        <h1 class="title">Add User</h1>
        <div class="modal-middle text">
        <FormulateForm >
            <FormulateInput v-model="email" type='email' name='email' label='Email' label-class="input-label"  validation="required|email" />
            <FormulateInput
                v-model="role"
                :options="{visitor: 'Visitor', developer: 'Developer'}"
                type="radio"
                label="Role"
                validation="required"
            />
          <FormulateInput @click="add(email, role)" type='submit' input-class="btn-submit" label='Add' />
        </FormulateForm>
          </div>
      </div>
      <div v-else >
        <h1 class="card-capacity"> Capacity limited ! please change the capacity or pass to premium to add new members</h1>
        <a :href="clientUrl + '/pricing'" class="btn">Upgrade</a>
      </div>
    </modal>
  </div>
</template>

<script>

import Vuex, { mapActions } from "vuex";
import fetch from "../../config/fetch";

export default {
  name: 'AddProject',
  props: ['id'],
  data: function () {
    return {
      email: "",
      role: "",
      rightsToAdd: true,
      clientUrl: process.env.VUE_APP_CLIENT_URL
    }
  },
  computed: {
    ...Vuex.mapGetters(['user', 'socket', 'currentProject','usersOnProject']),
  },
  methods: {
    ...mapActions([
      'getProjectAndUser',
    ]),
    openModal() {
      if (this.currentProject.capacity > this.usersOnProject.length){
        this.rightsToAdd = true
      } else {
        this.rightsToAdd = false
      }
      this.$modal.show('adduser')
    },
    add(email, role) {
      const data = {
        email: email,
        role: role
      }
      fetch(process.env.VUE_APP_API_URL + '/projects/add/' + this.id, {
        method: 'POST',
        headers: {
          'Content-type': 'application/json',
          Accept: 'application/json',
        },
        body: JSON.stringify(data)
      }).then(res => {
        if (res != null) {
          const notification = {
            user_to_notify : email,
            content : "You have been added to the project named : " + this.currentProject.name,
            fromUsername: this.user.username,
            fromUserId: this.user.id
          }
          this.getProjectAndUser(this.id)
          this.socket.emit('notification-add-user', notification)
          this.$modal.hide('adduser')
        }

      }).catch(err => {
        if (err.json) {
          return err.json.then(json => {
            console.log(json)
          })
        }
      })
    },
  },
  created() {
    if (this.currentProject.capacity <= this.usersOnProject.length){
      this.rightsToAdd = false
    }
  }
}
</script>

<style scoped>
.add-user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.btn {
  font-size: 16px;
  padding: 8px 12px;
  background-color: var(--color-primary-blue);
  margin: 17px;
}

.text {
  font-size: 17px;
  font-weight: 800;
  color: black;
  margin-bottom: 8px;
}

.title {
  padding: 10px;
  margin: 0;
  width: 100%;
  border-bottom: 1px solid var(--color-primary-blue);
  text-align: left;
}

.modal-middle {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.input-project-name label {
  margin-bottom: 8px;
}

.card-capacity {
  text-align: center
}
</style>
