<template>
  <div>
    <transition name="fade" appear>
      <div class="modal-overlay"
           v-if="showModal"
           @click="$emit('clickedOverlayModal', false)"></div>
    </transition>
    <transition name="pop" appear>
      <div class="modal content"
           role="dialog"
           v-if="showModal"
      >
        <div v-for="user in usersOnProject" v-bind:key='user.id' class="card">
          <div class="info-user">
            <div class="card-username">{{ user.username }}</div>
            <div class="card-email">{{ user.email }}</div>
            <div class="card-role">{{ user.role[0].role }}</div>
          </div>
          <img v-if="rights && user.role[0].role !== 'admin'" @click="remove(user)" class="icon" src="../../assets/svg/project-list/icon-delete.svg" alt="icon">
        </div>
          <AddMember v-if="rights" :id='id' />
          <FormulateInput v-if="!rights" @click="openModal" type='submit' input-class="btn-submit" label='Quitter le projet' />
          <confirm-quit-project :id='id'/>
      </div>
    </transition>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import AddMember from "./AddMember";
import ConfirmQuitProject from "../ConfirmModals/confirmQuitProject";

export default {
  name: 'ListMembers',
  components: {
    ConfirmQuitProject,
    AddMember
  },
  props: ["showModal", "id"],
  data() {
    return {
      rights : true,
    }
  },
  methods: {
    ...mapActions([
      'getProjectAndUser'
    ]),
    remove(user) {
      this.$axios.post(process.env.VUE_APP_API_URL + '/projects/remove/' + this.id + '/' + user.id)
      .then(() => {
        this.getProjectAndUser(this.id)
        const notification = {
          user_to_notify: user.email,
          content: "You have been deleted from the project named : " + this.currentProject.name,
          fromUsername: this.user.username,
          fromUserId: this.user.id
        }
        this.socket.emit('notification-remove-user', notification)
      })
    },
    openModal() {
      this.$modal.show('quit')
    },
  },
  computed: {
    ...mapGetters([
      'usersOnProject','user', 'socket','currentProject'
    ])
  },
  async created() {
    await this.getProjectAndUser(this.id)
    if (this.user.id !== this.currentProject.createdBy){
      this.rights = false
    }
  }
}
</script>

<style scoped>
.verticalButton {
  background: black;
  color: #64c89b;
  display: inline-block;
  font-size: 1rem;
  height: 50px;
  line-height: 50px;
  position: fixed;
  right: 0;
  top: -50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform-origin: bottom right;
  width: 150px;
  border-radius: 50px 5px 0px 0px;

}

.modal {
  position: absolute;
  right: 0;
  margin: auto;
  text-align: center;
  width: 500px;
  height: fit-content;
  padding: 0;
  border-radius: 0 0 0 8px !important;
  border: none;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  background: #FFF;
  z-index: 999;
  transform: none;
}

.icon {
  cursor: pointer;
  outline: none;
  height: 20px;
}

.modal-overlay {
  content: '';
  position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 998;
  background: #2c3e50;
  opacity: 0.2;
  cursor: pointer;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid var(--color-primary-blue);
}

.info-user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.card-username {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 800;
  padding-right: 10px;
}

.card-email {
  font-size: 14px;
  padding-right: 10px;
}

.card-role {
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 300;
  color: white;
  background-color: var(--color-secondary-blue);
  padding: 0px 5px;
  border-radius: 5px;
}
</style>