<template>
    <div class="container-user">
        <div class="user-details">
            <div class="field-account">
                <div class="label-account">
                    Username :
                </div>
                <div>
                    <div v-if = "edit == false">
                        <label> {{username}}</label>
                    </div>
                    <input v-else name="username" v-model = "username" class="input-edit">
                    <span class='error'>{{ errorUsername }}</span>
                </div>
            </div>
            <div class="field-account">
                <div class="label-account">
                    Email :
                </div>
                <div>
                    <div>
                        <label> {{email}}</label>
                    </div>
                    <!-- <input v-else name="email" v-model = "email" class="input-edit email-input" type="email"> -->
                    <!-- <span class='error'>{{ errorEmail }}</span> -->
                </div>
            </div><br>
            <div class="field-account">
                <div class="label-account">
                    Pack :
                </div>
                <div>
                    <div>
                        <label>{{account_type}}</label>
                    </div>
                    <!-- <input v-else name="email" v-model = "email" class="input-edit email-input" type="email"> -->
                </div>
            </div>        
        </div>
        <button v-if = "edit == false" @click="updateEditValue" class="btn">Edit my account</button>
        <button v-else @click="onClickUpdateUser" class="btn">Save my account</button>
    </div>
</template>

<script>
export default {
    props: ['index', 'id', 'email', 'username', 'createdAt', 'role', 'edit', 'account_type', 'usersEmails', 'usersUsernames'],
    name: 'Account',
    data() {
        return {
            errorUsername:'',
            errorEmail:'',
        }
    },
    computed: {
    },
    methods: {
        onClickCheckFormUsername() {
            this.errorUsername = ''
            var bool = false
            if(this.username) {
                bool = true
                if(this.usersUsernames.includes(this.username.toLowerCase())) {
                    this.errorUsername = 'Username already taken'
                    bool = false
                }
            } else {
                this.errorUsername = 'Username required'
                bool = false
            }
            return bool
        },
        onClickUpdateUser() {
            this.onClickCheckFormUsername()
            if (this.onClickCheckFormUsername()) {
                this.updateEditValue()
                fetch(process.env.VUE_APP_API_URL+'/users/' + this.$props.id, {
                headers: {
                    'Content-Type': 'application/json'
                },
                method: 'PUT',
                body: JSON.stringify({ username: this.username })
                })
            }
        },
        updateEditValue: function(){
            if(this.edit == true) {
                this.edit = false
            } else this.edit = true
        },
    },
    mounted() {
    }
}
</script>

<style scoped>
.user-details {
    display: flex;
    flex-direction: column;
    padding: 12px;
    color:black;
    border-radius: 20px;
    border: 6px solid var(--color-primary-pink);
    width: 50%;
    margin: 0px 20px;
}

.container-user {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.field-account {
    display: flex;
    flex-direction: row;
    align-items: left;
    padding: 10px 0px;
}

.label-account {
    font-weight: bold;
    padding-right: 10px;
}

.btn {
    height: 38px;
}

input {
    border: 3px solid rgba(189, 189, 189,0.2);
    background-color: white;
}

.email-input {
    min-width: 250px;
}

.error {
    color: var(--color-primary-pink);
    font-weight: 600;
    font-size: 13px;
    padding-left: 10px;
}
</style>
