<template>
    <div class="container">
        <div class="top-info">
            <div class="top-info-left">
                <div>
                    <p class="title-white">
                        Code together
                    </p>
                </div>
                <div>
                    <p class="text-light">
                        WebSandBox is an easy-to-use online IDE that allows
                        multiple users to code simple apps all together and at the exact same time.
                        Multiple languages are supported and more are coming !
                    </p>
                </div>
                <button class="btn">Try it for free</button>
            </div>
            <div class="preview-img"></div>
        </div>
        <div class="middle-info">
            <div>
                <p class="title main-title">
                    Main features
                </p>
            </div>
            <div>
                <p class="text description">
                    WebSandBox is a powerful application that allows you to create real-time coding projects in different languages with your friends. It’s very useful if you would like to share your code with others. 
                    WebSandBox was initialy designed for students. 
                </p>
            </div>
            <div class="row-language">
                <Language 
                    :img="imgHtml"
                    description="
                        HTML 5 is available for free.
                        Html is a standart markup language for documents designed to be displayed in a web browser.
                        HTML describe the structure of a web page sementically."
                />
                <Language 
                    :img="imgCss"
                    description="
                        CSS is a computer language for laying out and structuring web pages (HTML or XML).
                        This language contains coding elements and is composed of these “cascading style sheets”
                        which are equally called CSS files"
                />
                <Language 
                    :img="imgJs"
                    description="
                        Javascript (JS) is a scripting languages, primarily used on the Web.
                        It is used to enhance HTML pages and is commonly found embedded in HTML code.
                        JavaScript is an interpreted language. Thus, it doesn't need to be compiled.
                        JavaScript renders web pages in an interactive and dynamic fashion."
                />
            </div>
        </div>
    </div>
</template>

<script>
import Language from '../components/language/Language'

export default {
    components: { Language },
    name: 'Home',
    data() {
        return {
            imgHtml: require('../assets/images/img-html.png'),
            imgCss: require('../assets/images/img-css.png'),
            imgJs: require('../assets/images/img-js.png')
        }
    }
}
</script>

<style scoped>
    .container {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .top-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .top-info-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 350px;
        width: 100%;
        margin: 0 8% 0 8%;
    }

    .preview-img {
        width: 100%;
        height: 450px;
        background-image: url('https://puu.sh/HU8Lh/72035cd134.png');
        background-size: cover;
        border-radius: 40px 0 0 40px;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
    }

    .title-white {
        font-size: 32px;
        margin: 10px 0;
    }

    .btn {
        margin-top: 10px;
    }

    .middle-info {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 8%;
    }

    .main-title {
        font-size: 26px;
    }

    .description {
        font-weight: 400;
        padding: 0 12%;
        text-align: center;
    }

    .row-language {
        margin-top: 40px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .row-language div {
        padding: 0 3%;
    }
</style>