<template>
    <div class="container">
        <div class="section">
            <div class="section-text">
                <div class="section-text-title">Create a project</div>
                <div class="section-text-description">
                    Create your project with a name, a specific language, and a maximum of collaborator. 
                    In doing so, you'll be able to code with your collaborators on the same project. 
                </div>
            </div>
            <img :src="require('@/assets/images/product/new-project-pic.png')" alt="new-project">
        </div>
        <div class="section">
            <div class="section-text">
                <div class="section-text-title">Manage your projects</div>
                <div class="section-text-description">
                    You can also manage your projects by adding, editing or deleting them if you are admin. 
                    The amount of project is unlimited if you are a premium user. 
                    The goal is to be productive and learn code together !
                </div>
            </div>
            <img :src="require('@/assets/images/product/manage-project-pic.png')" alt="manage-project">
        </div>
        <div class="section">
            <div class="section-text">
                <div class="section-text-title">Add your collaborators</div>
                <div class="section-text-description">
                    Adding collaborators is the primary idea of this project, so use it ! 
                    You can add up to 5 collaborators on a free account and 20 on a premium one. 
                </div>
            </div>
            <img :src="require('@/assets/images/product/add-users-pic.png')" alt="add-users">
        </div>
        <div class="section">
            <div class="section-text">
                <div class="section-text-title">Code together</div>
                <div class="section-text-description">
                    Once you have configure the project you can start coding with your collaborator. 
                    The editor is capable of knowing in which language you code and autocomplete sometimes. 
                    This is realtime coding so be sure to give the right rights to your collaborator. 

                </div>
            </div>
            <img :src="require('@/assets/images/product/editor-pic.png')" alt="editor">
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style scoped>
    .container {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .section {
        margin: 40px 0;
        padding: 30px;
        display: flex;
        width: 80%;
        align-items: center;
        justify-content: space-between;
        background-color: #FDFDFD;
        border-radius: 10px;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
    }

    .section:nth-child(2n) {
        flex-direction: row-reverse;
    }

    .section-text {
        flex-grow: 1;
        margin: 20px 8%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .section-text-title {
        font-weight: 800;
        font-size: 24px;
        font-family: Roboto, sans-serif;
        color: var(--color-primary-blue);
        margin-bottom: 10px;
    }

    .section-text-description {
        font-weight: 300;
        font-family: Roboto, sans-serif;
        color: var(--color-secondary-blue);
    }

    img {
        height: 350px;
        border-radius: 8px;
    }
</style>