<template>
    <div>
        <div class="icon">
                        <router-link :to="{name: 'home'}" class="app-name">WebSandBox</router-link>
                    </div>
                    <p> Vous n'êtes pas connecté </p>
                    <p> Vous allez être rediriger</p>
                <div v-if="!user.token">
                    <div v-if="!user.token" class="redirect">
                    <a href="http://client.localhost/sign-in" class="btn-sign">
                        Sign In
                    </a>
                  <a href="http://client.localhost/sign-up" class="btn-sign">
                        Sign Up
                    </a>
                    </div>
                </div>
            </div>           
</template>


  <script>
import store from '../config/store'
import Vuex from 'vuex'
import { checkLogin } from '../user/service'

export default {
    name: 'Redirection',
    store: store,

    created(){
      setTimeout( () => window.location.href = "http://client.localhost/sign-in", 5000);
    },

    data () {
        return {
            formValues: {},
        }
    },
    methods: {
        ...Vuex.mapActions(['editUser']),
        handleSubmit() {
            checkLogin(this.formValues.email, this.formValues.password)
                .then(user => {
                    if (user.token) {  
                        this.editUser(user);
                        window.location = process.env.VUE_APP_APP_URL + '/?token=' + user.token
                    }
                })
        }
    },
    computed: {
        ...Vuex.mapGetters(['user']),
    }
    
}
</script>
  
<style scoped>
.icon {
    margin-top:10%;
}
.app-name {
    font-size: 24px;
    color: #4b40e4;
    text-decoration: none;
    font-family: sans-serif;

}

.redirect {
    margin: 5%;
}

.btn-sign {
    color:#8279ff;
    margin-bottom: 50% ;
    margin: 10%;
    margin-top: 10%;
    text-decoration: none;
    font-family: sans-serif;

}

p {
    color: rgb(87, 86, 86);
}

</style>
