<template>
    <div :class="menuOpen ? 'menu-notification' : 'menu-notification close'">

        <div @click="closeNotifications" :class="['close-button', (onNewNotification ? 'new-notification' : '')]">
            {{ text }}
        </div>
      <div class="notifications">
        <ul class="list-notifications">
          <li  v-for="(notification, index) in notifications" :key="index"  :class="[ 'content-notification', { 'new-notification': index==0 }]">
            <div class="notification-from">From : <b>{{ notification.fromUsername }}</b> <span class="notification-date">({{ formatDistanceToNow(new Date(notification.createdAt.replace(' ', 'T'))) }})</span></div>
            <div class="notification-content">{{ notification.content }}</div>
          </li>
        </ul>
      </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { format, formatDistanceToNow, subDays } from 'date-fns'

export default {
    data(){
        return {
            menuOpen: false,
            text: 'Notifications',
            onNewNotification: false,
            formatDistanceToNow,
            subDays,
            format
        }
    },
    computed: {
        ...mapGetters([
          'user','socket','notifications'
        ]),
    },
    methods : {
      ...mapActions([
        'pushNotification','getNotifications', 'getUserProjects'
      ]),
      closeNotifications() {
        this.menuOpen = !this.menuOpen
        this.onNewNotification = false
      },
    },
    async created() {
        await this.getNotifications(this.user.email)
        this.socket.on('notification-emit-add-user', (notification) => {
          this.pushNotification(notification)
          this.getUserProjects(this.user.id)
          this.socket.emit('update-tunnel-to-listen', {id: this.user.id})
          if(!this.menuOpen) {
            this.onNewNotification = true
          }
      })
    },
}
</script>

<style scoped>
    .menu-notification {
        position: fixed;
        bottom: 0;
        right: 0;
        height: 500px;
        width: 500px;
        background: white;
        transition: 200ms ease;
        border-top: 2px solid #000550;
        border-left: 2px solid #000550;
        border-radius: 12px 0 0 0;
    }

    .close-button {
        position: absolute;
        background: #000550;
        height: 30px;
        width: 100px;
        top: -30px;
        right: 150px;
        font-size: 13px;
        color: white;
        border-radius: 8px 8px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .close {
        bottom: -500px;
        transition: 200ms ease;
        position: fixed;
    }

    .notifications {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #e5e6ff;
      border-radius: 12px 0 0 0;
    }

    .list-notifications {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      padding: 10px;
      margin: 0;
    }

    .content-notification {
      display: flex;
      flex-direction: column;
      text-align: left;
      padding: 10px 20px;
      width: fit-content;
      border-radius: 20px;
      background: var(--color-secondary-blue);
      list-style: none;
      margin: 8px 0;
      word-break: break-word;
    }

    .notification-date {
      font-weight: 300;
      color: white;
      font-size: 12px;
    }

    .new-notification {
      background-color: orange;
    }
</style>