<template>
  <div class="project">
    <div class="card">
      <div class="nav-top">
        <div class="icon-lang" v-if="project.lang == 'js'">
          <img src="../../assets/svg/project-list/js.svg" alt="logo" class="logo">
        </div>
        <p class="title">{{ project.name }}</p>
      </div>
      <div class="nav-middle">
        <p class="text"><b>My role : </b>{{ role }}</p>
        <div class="capacity">
          <p class="text">
            Capacity : {{ project.capacity }}
          </p>
          <img src="../../assets/svg/project-list/person.svg" alt="icon" class="icon-capacity">
        </div>
      </div>
      <div class="nav-bottom">
        <div class="icons" v-if="this.user.id == project.createdBy">
          <img @click="openModal(project.name)" class="icon" src="../../assets/svg/project-list/icon-edit.svg" alt="icon">
          <UpdateProject :project = project />
          <img class="icon" @click="openModal(project.id)" src="../../assets/svg/project-list/icon-delete.svg" alt="icon">
          <ConfirmDeleteProject :id = project.id />
        </div>
        <button class="btn" @click="viewProject">Go !</button>
      </div>
    </div>
  </div>
</template>

<script>

import Vuex from "vuex";
import UpdateProject from "./UpdateProject";
import ConfirmDeleteProject from "../ConfirmModals/confirmDeleteProject";

export default {
  components :{
    ConfirmDeleteProject,
    UpdateProject
  },
  props: ['role', 'project'],
  name: 'Card',
  computed: {
    ...Vuex.mapGetters(['user']),
  },
  methods: {
    ...Vuex.mapActions(['getUserProjects']),
    viewProject() {
      this.$router.push({ name: 'project', params: { id: this.project.slug } })
    },
    openModal(name) {
      this.$modal.show(name+"")
    },
  }
}
</script>

<style scoped>
p {
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--color-primary-blue);
  width: 250px;
  border-radius: 8px;
}

.nav-top {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--color-primary-blue);
  padding: 15px;
}

.nav-top .title {
  word-break: break-all;
  font-size: 18px;
  margin: 0;
  padding-left: 10px;
  text-transform: capitalize;
}

.nav-middle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid var(--color-primary-blue);
}

.nav-middle .text {
  font-size: 16px;
  text-transform: capitalize;
  margin: 5px 0;
}

.capacity {
  display: flex;
  align-items: center;
}

.nav-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: var(--color-primary-blue);
  padding: 15px;
}

.logo {
  height: 80px;
  border-radius: 50%;
}

.icons {
  display: flex;
  align-items: center;
}

.icon-capacity {
  height: 17px;
  margin: 0 0 2px 5px;
}

.icons .icon {
  margin-right: 10px;
  height: 20px;
  color: var(--color-primary-blue);
  cursor: pointer;
}
</style>