<template>
  <modal
    classes="modal"
    :name='project.name'
    :width=450
    :height="450"
    :adaptive="true"
  >
    <h1 class="title">Edit Project</h1>
    <div class="modal-middle text">
      <FormulateForm>
        <FormulateInput v-model="name" name='name' label='Project name' label-class="input-label"/>
        <FormulateInput
            v-model="lang"
            :options="{js: 'JavaScript'}"
            type="radio"
            label="Language"
            validation="required"
        />
        <FormulateInput
            v-model="capacity"
            :options="{1: '1', 2: '2', 3: '3', 4: '4',5: '5'}"
            type="select"
            placeholder="Select an option"
            label="Capacity"
            validation="required"
        />
        <FormulateInput type="submit" @click="updateProject" input-class="btn-submit" label='Update' />
      </FormulateForm>
    </div>
  </modal>
</template>

<script>

import Vuex from "vuex";

export default {
  name: 'updateProject',
  props: ['project'],
  data: function () {
    return {
      lang: this.project.lang,
      name: this.project.name,
      capacity: this.project.capacity
    }
  },
  computed: {
    ...Vuex.mapGetters(['user']),
  },

  methods: {
    ...Vuex.mapActions(['getUserProjects']),
    openModal() {
      this.$modal.show(this.project.name)
    },
    updateProject() {
      const data = {
        name: this.name,
        lang: this.lang,
        capacity: this.capacity,
        createdBy: this.user.id
      }
      return fetch(process.env.VUE_APP_API_URL + '/projects/' + this.project.id, {
        method: 'PUT',
        headers: {
          'Content-type': 'application/json',
          Accept: 'application/json',
        },
        body: JSON.stringify(data)
      }).then(res => {
        if (res != null) {
          this.$modal.hide(this.project.name)
          this.getUserProjects(this.user.id)
          return res
        }
      }).catch(err => {
        if (err.json) {
          return err.json.then(json => {
            console.log(json)
          })
        }
      })
    }
  }
}
</script>

<style scoped>
.btn {
  font-size: 22px;
  padding: 8px 30px;
  background-color: var(--color-primary-blue);
}

.text {
  font-size: 17px;
  font-weight: 800;
  color: black;
  margin-bottom: 8px;
}

.text-small {
  font-size: 15px;
  color: black;
}

.title {
  padding: 10px;
  margin: 0;
  width: 100%;
  border-bottom: 1px solid var(--color-primary-blue);
  text-align: left;
}

.modal-middle {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.input-project-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 20px;
  width: 100%;
}

.input-project-name label {
  margin-bottom: 8px;
}

.input-project {
  outline: none;
  font-size: 14px;
  padding: 8px 5px;
  border: 1px solid var(--color-primary-blue);
  width: 100%;
}

.input-project:focus {
  border: 1px solid var(--color-primary-pink);
}

.lang {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.flex-checkbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 8px;
}

.icon {
  margin-right: 10px;
  height: 20px;
  color: var(--color-primary-blue);
  cursor: pointer;
}
</style>

<style>
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid var(--color-primary-blue);
  border-radius: 10px !important;
}

.modal-delete {
    border: 2px solid var(--color-primary-blue) !important;
    border-radius: 10px !important;
}
</style>