<template>
  <div id="app">
    <loading v-if="user.isConnected == 'pending'" :active.sync="isLoading" 
    :can-cancel="false" 
    :is-full-page="fullPage"></loading>
    <div v-else-if="!user.isConnected" style="height:100%">
      <div class="not-connected">
          <div class="sign-text">
                You need to sign in or sign up to get to the app! <br>
          </div>
          <div class="sign-buttons">
              <a :href="clientUrl + '/sign-in'" class="btn" style="margin-right:100px">Sign In</a>
            <br>
            <a :href="clientUrl + '/sign-up'" class="btn">Sign Up</a>
          </div>
      </div>
    </div>
    <div v-else class="app-container">
      <Header />
      <router-view class="app-view"/>
      <MessageActions />
      <NotificationActions />
    </div>
  </div>
</template>

<script>
import Header from './components/Header'
import Loading from 'vue-loading-overlay';
import store from './config/store'
import Vuex from 'vuex'
import MessageActions from './components/Actions/MessageActions';
import NotificationActions from './components/Actions/NotificationActions';

export default {
  name: 'App',
  store: store,
  components: {
    Header,
    Loading,
    MessageActions,
    NotificationActions
  },
  data() {
    return {
        isLoading: true,
        fullPage: true,
        clientUrl: process.env.VUE_APP_CLIENT_URL
    }
  },
  methods: {
    ...Vuex.mapActions(['checkToken', 'noToken']),
  },
  computed: {
    ...Vuex.mapGetters(['user'])
  },
  mounted() {
    const token = localStorage.getItem('user-token')

    let uri = window.location.search.substring(1); 
    let params = new URLSearchParams(uri);

    if (params.get("token")) {
      localStorage.removeItem('user-token')
      this.checkToken(params.get("token"))
    } else if (token) {
      this.checkToken(token)
    } else {
      this.noToken()
    }
  }
}
</script>

<style>
:root {
	--color-primary-blue: #1E079B;
	--color-secondary-blue: #2539B0;
	--color-primary-pink: #EF2A82;
	--color-light: #FFFFFF;
}

#app {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--color-light);
  height:100%;
}

html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    height: 100%;
}

*,*::before,*::after {
  box-sizing: inherit;
}

.title {
	color: var(--color-primary-blue);
	font-weight: 700;
}

.title-white {
	color: white;
	font-weight: 700;
}

.text {
	color: var(--color-secondary-blue);
	font-weight: 500;
}
.content {
  color: black;
}
.text-light {
	color: var(--color-light);
	font-weight: 500;
}

.not-connected {
    color: white;
    color: var(--color-secondary-blue);
    height: 100%;
}

.sign-text {
    padding: 100px;
    font-weight: 700;
    font-size: 27px;
}

.sign-buttons {
    display: flex;
    justify-content: center;
}

.btn {
	padding: 10px 20px;
	color: white;
	background-color: var(--color-primary-pink);
	border-radius: 8px;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	outline: none;
	border: none;
  text-decoration: none;
}

.dashboard {
	height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title-section {
  padding: 10px 20px;
  text-align: left;
  display: flex;
}

.title-section > .title {
  font-size: 24px;
  color: var(--color-light);
  background-color: var(--color-primary-blue);
	padding: 10px 30px;
  border-radius: 8px;
}
</style>

<style scoped>
  .app-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
  }

  .app-view {
    height: 100%;
    width: 100%;
  }

  .vm--modal {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    background-color: white;
    border-radius: 32px;
    box-shadow: 0 20px 60px -2px rgb(27 33 58 / 40%);
  }
</style>
