<template>
    <div class="container-user">
        <div class="user-details">
            <p class="id">
                ID : {{ id }}
            </p>
            <p class="username">
                Username : {{ username }} 
            </p>
            <p class="email">
                Email : {{ email }} 
            </p>
            <p class="createdAt">
                Created At : {{ createdAt }} 
            </p>
            <p class="nbr-projects">
                Number of projects : 
                <span class="projects-count">
                    {{ projectsLength }}
                </span>
            </p>
        </div>
    </div>
</template>

<script>
export default {
    props: ['index', 'id', 'email', 'username', 'createdAt', 'role', 'edit', 'usersLength', 'projectsLength'],
    name: 'UserCard',
    data() {
        return {
            style: {
                backgroundColor: '',
            },
            styleFE: {
                borderBottomLeftRadius: ''          
            },
            styleLE: {
                borderBottomRightRadius: ''          
            }
        }
    },
    computed: {
    },
    methods: {
    },
    mounted() {
    }
}
</script>

<style scoped>
.container-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    color:black;
    border-radius: 20px;
    border: 6px solid var(--color-primary-pink);
    width: 50%;
    margin: 0px 20px;
}

p {
    text-align: left;
    font-weight: bold;
}
</style>
