<template>
    <tr :style="style">
        <td>{{ id }}</td>
        <td>
            <div v-if = "edit == false">
                <label>{{username}}</label>
            </div>
            <input v-else name="username" v-model = "username" class="input-edit">
        </td>
        <td>
            <div v-if = "edit == false">
                <label>{{ email }}</label>
            </div>
            <input v-else name="email" v-model = "email" v-on:input="email = $event.target.value" class="input-edit">
        </td>
        <td v-if="role_app !== ''">
            <div v-if = "edit == false">
                <label>{{ role_app }}</label>
            </div>
            <select v-else name="role_app" v-model = "role_app" v-on:input="role_app = $event.target.value" class="input-edit">
                <option value="user">user</option>
                <option value="admin">admin</option>
            </select>
        </td>
        <td class="actions">
            <button v-if = "edit == false" @click="updateEditValue" class="edit-button">Edit</button>
            <button v-else @click="onClickUpdateUser" class="edit-button">Save</button>
            <button @click="onClickDeleteUser" class="delete-button">Delete</button>
            <button @click="onClickShowProjects" class="show-button">See details</button>
        </td>
    </tr>
</template>

<script>
export default {
    props: ['index', 'id', 'email', 'username', 'role', 'role_app', 'edit', 'usersLength', 'users'],
    name: 'UserListAdmin',
    data() {
        return {
            style: {
                backgroundColor: '',
            },
        }
    },
    computed: {
        filteredList() {
             if(this.search =='') {
                return this.users
            } else {
                return this.users.filter(user => {
                    return user.email.toLowerCase().includes(this.search.toLowerCase())
                })
            }
        }
    },
    methods: {
        onClickDeleteUser() {
            this.$axios.delete(process.env.VUE_APP_API_URL+'/users/'  + this.$props.id, 
            { data:{ user: this.user}}).then(() => {
                this.$el.parentNode.removeChild(this.$el)
            })
        },
        onClickUpdateUser() {
            this.updateEditValue()
            fetch(process.env.VUE_APP_API_URL+'/users/' + this.$props.id, {
                headers: {
                    'Content-Type': 'application/json'
                },
                method: 'PUT',
                body: JSON.stringify({ email: this.email, username: this.username, role_app: this.role_app })
            })
        },
        onClickShowProjects() {
            this.$router.push('/dashboard-admin/user/'+this.id);
        },
        updateEditValue: function(){
            if(this.edit == true) {
                this.edit = false
            } else this.edit = true
        },
    },
    mounted() {
    }
}
</script>

<style scoped>
.container-dashboard-admin {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
}

tr {
    color:black;
}

button {
    cursor: pointer;
    padding: 4px 8px !important;
    border-radius: 4px;
    border: 1px solid #ececec;
}

.edit-button {
    background-color: rgba(102, 255, 102, 0.3);
}

.delete-button {
    background-color: rgba(239, 42, 130, 0.3);
}

.show-button {
    background-color: rgba(30, 7, 155,0.3);
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

td {
    background-color: rgba(30, 7, 155,0.1);
}

.input-edit {
    border: 3px solid rgba(189, 189, 189,0.2);
    background-color: white;
}
</style>
