<template>
    <div class="container">
        <div class="title-section">
            <p class="title">Users</p>
            <!-- <p class="icones">
                <button class="btn-admin"><img src="../../assets/svg/admin/bell.svg" class="icon-bell"></button>
                <button class="btn-admin"><img src="../../assets/svg/admin/message.svg" class="icon-message"></button>
            </p> -->
        </div>
        <div class="divider"></div>
        <div class="flex-content">
            <input type="text" v-model="search" placeholder="Search..." class="search-bar"/>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
                <UserListAdmin v-for="(user,index) in filteredList" :key="user.id"
                    :index='index'
                    :id='user.id'
                    :username='user.username'
                    :role_app='user.role_app'
                    :email='user.email'
                    :edit='false'
                    :usersLength='users.length'
                />
            </table>
        </div>
    </div>
</template>

<script>
import UserListAdmin from '../../components/Admin/UserListAdmin'
export default {
    name: 'DashboardAdminUsers',
    components: {
        UserListAdmin
    },
    data() {
        return {
            users: {},
            search: '',
        }
    },
    methods: {
    },
    computed: {
        filteredList() {
            if(this.search =='') {
                return this.users
            } else {
                return this.users.filter(user => {
                    return user.email.toLowerCase().includes(this.search.toLowerCase())
                })
            }
        }
    },
    mounted() {
        this.$axios.get(process.env.VUE_APP_API_URL+'/users', {
        }).then(res => this.users = res.data)
    },
    created() {
      document.title = "WebSandBox | Dashboard | Users";
    }
}
</script>

<style scoped>
.divider {
    border-top: solid 1px var(--color-primary-blue);
    height: 1px;
    padding-bottom: 2em;
}

.search-bar {
    width: 250px;
    padding: 8px 15px;
    height: 2.5em;
    margin-top: 0.5em;
    border: 1px solid var(--color-primary-blue);
    background-color: rgba(189, 189, 189,0.2);
    border-radius: 25px;
    outline: none;
    align-self: flex-start;
    margin: 0 0 20px 0;
}

.flex-content {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.title-section {
    justify-content: space-between;
}

.icones {
    font-size: 24px;
}

table {
    width:100%;
    color:black;
    background-color: rgba(189, 189, 189,0.2);
}

tr {
    color:black;
}

th {
    color : var(--color-primary-pink);
    font-weight: bolder;
    height: 30px;
}

.btn-admin {
    background-color: transparent;
    border:transparent;
}

.icon-message {
    width: 40px;
}

.icon-bell {
    width: 38px;
}
</style>