<template>
    <div class="container">
        <div class="search-wrapper">
        </div>
        <div class="title-section">
            <p class="title">Project details</p>
        </div>
        <div class="divider"></div>
        <ProjectCard :key="project.id"
                :id='project.id'
                :name='project.name'
                :capacity='project.capacity'
                :lang='project.lang'
                :createdBy='this.userCreatedBy()'
                :users='project.users'
                :edit='false'
                :usersLength='usersLength'
            />
            <div class="title-listP">Users list</div>
            <table>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            <UserListAdmin v-for="user in this.project.users" :key="user.id"
                :id=user.id
                :email=user.email
                :username=user.username
                :edit='false'
                role_app=''
                users = this.project.users
            />
        </table>
    </div>
</template>

<script>
import Vuex from "vuex";
import ProjectCard from '../../components/Admin/ProjectCard'
import UserListAdmin from '../../components/Admin/UserListAdmin'

export default {
    name: 'DashboardAdminProject',
    components: {
        ProjectCard,
        UserListAdmin
    },
    data() {
        return {
            project: {},
            user: {},
            search: '',
            usersLength: 0
        }
    },
    methods: {
        ...Vuex.mapActions(['getUserProjects']),
        userCreatedBy() {
            this.$axios.get(process.env.VUE_APP_API_URL + '/users/' + this.project.createdBy, {
            }).then(res => {
                this.user = res.data
            })
            return this.user.email
        }
    },
    mounted() {
        var id =  this.$route.params.id
        this.$axios.get(process.env.VUE_APP_API_URL+'/projects/users/' + id, {
        }).then(res => {
            this.project = res.data
            this.usersLength = res.data.users.length
        })
    },
    created() {
      document.title = "WebSandBox | Dashboard | Projects";
    }
}
</script>

<style scoped>
.divider {
    border-top: solid 1px var(--color-primary-blue);
    height: 1px;
    padding-bottom: 2em;
}

.search-bar {
    width: 80%;
    height: 2.5em;
    margin-top: 0.5em;
    border: 3px solid rgba(189, 189, 189,0.2);
    background-color: rgba(189, 189, 189,0.2);
    border-radius: 25px;
}

.title-section {
    justify-content: space-between;
}

table {
    width:100%;
    color:black;
    background-color: rgba(189, 189, 189,0.2);
}

tr {
    color:black;
}

th {
    color : var(--color-primary-pink);
    font-weight: bolder;
    height: 30px;
}

.title-listP {
    text-align: left;
    margin: 30px 20px;
    font-size: 15px;
    color: var(--color-light);
    background-color: var(--color-primary-blue);
    padding: 10px 30px;
    border-radius: 40px;
    font-weight: bold;
    padding: 10px 30px;
    width:20%
}
</style>