<template>
    <div class="container">
        <div class="title-section">
            <p class="title">Projects</p>
        </div>
        <div class="divider"></div>
        <div class="flex-content">
            <input type="text" v-model="search" placeholder="Search..." class="search-bar"/>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Capacity</th>
                    <th>Lang</th>
                    <th>Actions</th>
                </tr>
                <ProjectListAdmin v-for="(p) in filteredList" :key="p.id"
                    :project=p
                    :edit='false'
                    :createdBy='0'
                />
            </table>
        </div>
    </div>
</template>

<script>
import ProjectListAdmin from '../../components/Admin/ProjectListAdmin'
export default {
    name: 'DashboardAdminProjects',
    components: {
        ProjectListAdmin
    },
    data() {
        return {
            projects: {},
            user:{},
            search: '',
        }
    },
    methods: {
    },
    computed: {
        filteredList() {
            if(this.search =='') {
                return this.projects
            } else {
                return this.projects.filter(project => {
                    return project.name.toLowerCase().includes(this.search.toLowerCase())
                })
            }
        }
    },
    mounted() {
        this.$axios.get(process.env.VUE_APP_API_URL+'/projects', {
        }).then(res => this.projects = res.data)
    },
    created() {
      document.title = "WebSandBox | Dashboard | Projects";
    }
}
</script>

<style scoped>
.divider {
    border-top: solid 1px var(--color-primary-blue);
    height: 1px;
    padding-bottom: 2em;
}

.flex-content {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.search-bar {
    width: 250px;
    padding: 8px 15px;
    height: 2.5em;
    margin-top: 0.5em;
    border: 1px solid var(--color-primary-blue);
    background-color: rgba(189, 189, 189,0.2);
    border-radius: 25px;
    outline: none;
    align-self: flex-start;
    margin: 0 0 20px 0;
}

.search-bar:focus {
    border: 1px solid var(--color-primary-pink);
}

.title-section {
    justify-content: space-between;
}
table {
    width:100%;
    color:black;
    background-color: rgba(189, 189, 189,0.2);
}

tr {
    color:black;
}

th {
    color : var(--color-primary-pink);
    font-weight: bolder;
    height: 30px;
}
</style>