<template>
    <div class="container">
        <div class="search-wrapper">
            <!-- <input type="text" v-model="search" placeholder="   Search..." class="search-bar"/> -->
        </div>
        <!-- <button @click="func">heeeejfuf</button> -->
        <div class="title-section">
            <p class="title">User details</p>
            <p class="icones">
                <button class="btn-admin"><img src="../../assets/svg/admin/bell.svg" class="icon-bell"></button>
                <button class="btn-admin"><img src="../../assets/svg/admin/message.svg" class="icon-message"></button>
            </p>
        </div>
        <div class="divider"></div>
        <UserCard :key="user.id"
                :id='user.id'
                :username='user.username'
                :email='user.email'
                :createdAt='createdAt'
                :edit='false'        
                :projectsLength='projectsLength'
            />
            <div class="title-listP">Projects list</div>
        <table v-if="projectsLength > 0">
            <tr>
                <th>ID</th>
                <!-- <th>Role</th> -->
                <th>Name</th>
                <th>Capacity</th>
                <th>Lang</th>
                <th>Created By</th>
                <th>Actions</th>
            </tr>
            <ProjectListAdmin v-for="p in this.projects.role" :key="p.id"
                :project='p.project'
                :userId='user.id'
                :role='p.role'
                :createdBy='user.username'
                :edit='false'
            />
        </table>
        <div v-else class="no-projects">
            This user has no projects
        </div>
    </div>
</template>

<script>
import ProjectListAdmin from '../../components/Admin/ProjectListAdmin'
import UserCard from '../../components/Admin/UserCard'

export default {
    name: 'DashboardAdminUserProjects',
    components: {
        ProjectListAdmin,
        UserCard
    },
    data() {
        return {
            projects: {},
            user:{},
            search: '',
            projectsLength: 0,
            createdAt: 0,
        }
    },
    methods: {
    },
    computed: {
    },
    mounted() {
        var id =  this.$route.params.id
        this.$axios.get(process.env.VUE_APP_API_URL + '/users/projects/' + id, {
        }).then(res => {
            this.projects = res.data
            this.projectsLength = this.projects.role.length
        })

        this.$axios.get(process.env.VUE_APP_API_URL + '/users/'+id, {
        }).then(res => {
            this.user = res.data
            this.createdAt = res.data.createdAt.split('T')[0]
        })
    },
    created() {
      document.title = "WebSandBox | Dashboard | Users";
    }
}
</script>

<style scoped>
.divider {
    border-top: solid 1px var(--color-primary-blue);
    height: 1px;
    padding-bottom: 2em;
}

.search-bar {
    width: 80%;
    height: 2.5em;
    margin-top: 0.5em;
    border: 3px solid rgba(189, 189, 189,0.2);
    background-color: rgba(189, 189, 189,0.2);
    border-radius: 25px;
}

.title-section {
    justify-content: space-between;
}

.icones {
    font-size: 24px;
}

table {
    width:96%;
    color:black;
    margin: 10px 20px;
    background-color: rgba(189, 189, 189,0.2);
}

tr {
    color:black;
}

th {
    color : var(--color-primary-pink);
    font-weight: bolder;
    height: 30px;
}

.btn-admin {
    background-color: transparent;
    border:transparent;
}

.icon-message {
    width: 40px;
}

.icon-bell {
    width: 38px;
}

.title-listP {
    text-align: left;
    margin: 30px 20px;
    font-size: 15px;
    color: var(--color-light);
    background-color: var(--color-primary-blue);
    padding: 10px 30px;
    border-radius: 40px;
    font-weight: bold;
    padding: 10px 30px;
    width:20%
}

.no-projects {
    font-weight: bold;
    color:black;
}
</style>