<template>
      <modal :name='this.id +""'
        classes=""
        :width=600
        :height="300"
        :adaptive="true
      ">
        <h1 class="title">Do you want to delete the project ?* </h1>
          <FormulateForm class="modal-middle">
            <FormulateInput type="submit" @click="deleteProject" input-class="btn-submit" label='Yes' />
            <FormulateInput type="submit" @click="closeModal" input-class="btn-submit" label='No' />
          </FormulateForm>
          <p class="text">* users will also be removed from the project </p>
      </modal>
</template>

<script>

import Vuex from "vuex";

export default {
  name: 'confirmDeleteProject',
  props: ['id'],
  computed: {
    ...Vuex.mapGetters(['user', 'project']),
  },
  methods: {
    ...Vuex.mapActions(['getUserProjects']),
    deleteProject() {
      this.$axios.delete(process.env.VUE_APP_API_URL + '/projects/' + this.id)
          .then(() => {
            this.getUserProjects(this.user.id)
          }).catch(res => console.log(res))
    },
    closeModal() {
      this.$modal.hide(this.id+"")
    }
  }
}
</script>

<style scoped>

.text {
  font-size: 17px;
  font-weight: 800;
  color: black;
}

.title {
  padding: 10px;
  margin: 0;
  width: 100%;
  border-bottom: 1px solid var(--color-primary-blue);
  text-align: left;
}

.modal-middle {
  padding: 50px 0 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.formulate-input {
  margin: 0px;
}

.input-project-name label {
  margin-bottom: 8px;
}

</style>